/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');



/* General style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #E5E5E5;
}

.container{
    background-color: #ffffff;
    width: 870px;
    margin-top: 36px;
    border-radius: 5px;
    padding-top: 33px;
    padding-left: 33px;
}

.section-title{
    color: #562EFF;
    font-weight: 500;
    font-size: 24px;
    
}

hr{
    border: 1px solid #D1D1D1;
    width: 807px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* Header style */

.nav-bar{
    background: #562EFF;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-nav{
    display: flex;
    margin-left: 220px;
}
.left-elements{
    height: 51px;
    width: 36px;
    margin-left: 25px;
}
.nav-logo{
    width: 51px;
    margin-top: -5px;
}


.logo-text{
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
}
.toggle-area{
    display: none;
}


.right-nav{
    margin-right: 125px;
}
.right-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.right-nav ul li{
    list-style: none;
    width: 48px;
    height: 24px;
    margin:0 -100px;
    
}
.right-nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    
}
.right-nav .profile-img{
    width: 51px;
    height: 51px;
    margin-top: -10px;
}

/* main styles */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* players styles */
.players{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 29px;
    column-gap: 84px;
}
.players .player{
    display: flex;
    align-items: center;
    
}
.players .player .player-img{
    height: 56px;
    width: 56px;
}

.players .player .player-info{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin-left: 16px;
    margin-top: -13px;
}

/* Blogs styles */
.blogs{
    margin-top: 31px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 26px;
    margin-bottom: 42px;
}

.blog{
    display: flex;
}

.thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-details{
    margin-left: -26px;
    margin-top: 0;
}
.blog-details .blog-title{
    width: 197px;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}
.blog-details .blog-author{
    Width:180px;
    Height:24px;
    font-weight: 400;
    font-size: 16px;
    color: #9F9F9F;
}

.blog-details .blog-author a{
    text-decoration: none;
    color: #562EFF;
}
/* Courses style */
.courses{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-top: 11px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.course{
    width: 253px;
    height: 270px;
    padding: 13px 18px 17px 11px;
    box-shadow: 2px 2px 40px lightgrey;
    border-radius: 5px;
    margin-bottom: 23px;
}
.course-banner img{
    width: 224px;
    height: 105px;
}
.course-info{
    display: flex;
}
.course-title{
    font-weight: 600;
    font-size: 17px;
    color:#1E1E1E;
    Width:226px;
}
.course-author{
    color:  #ED6B4F;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 19px;
}
.ratings{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 5px;
}

.ratings span{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.fa-star{
    font-size: 11px;
}
.fa-star.checked{
    color: #FFC014;
}
.fa-star.unchecked{
    color: #AEAEAE;
}
.ratings .rating-num{
    font-weight: 400;
    font-size: 14.6913px;
    color: #A2A2A2;
}
.period{
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 1px;
    align-items: center;
    background: #FEE5DF;
    border-radius: 14.6913px;
    color: #ED6B4F;
    Height:29.38px;
    padding-left: 18px;
}

/* footer styles */
.footer{
    margin-top: 30px;
    width: 100%;
    height: 30vh;
    background-color: black;
   
    text-align: center;
    font-family:sans-serif;
    padding-top: 50px;

}

.footer h2 , p{
    color: white;
}

.footer i{
    display: inline;
    margin-left: 10px;
}


/* responsiveness */
 /* for smartphones*/
 @media screen and (max-width:576px) {
    .nav-bar{
        width: 100%;
    }
    .right-nav{
        display: none;
    }
    .left-nav{
        margin-left: 0;
    }

    .toggle-area{
        display: block;
    }

    .toggle-area div{
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        border-radius: 5px;
        margin-left:30vw;
        display: flex;
        align-items: center;
        /* margin-top: 15px; */
    }
    .toggle-area div span{
        background-color: #562EFF;
        border: 2px solid #562EFF;
        width: 40px;
        display: block;
        margin: 5px auto;
    }

   
 }

  /* for tablets */

  @media screen and (min-width:577px) and (max-width:992px) {
    .nav-bar{
      width: 100%;
    }
    .right-nav{
        display: none;
    }
    .left-nav{
        margin-left: 0;
    }

    .toggle-area{
        display: block;
    }

    .toggle-area div{
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        border-radius: 5px;
        margin-left:38vw;
        display: flex;
        align-items: center;
 
    }
    .toggle-area div span{
        background-color: #562EFF;
        border: 2px solid #562EFF;
        width: 40px;
        display: block;
        margin: 5px auto;
    }
}